<!DOCTYPE html>
<html ng-app="myApp">

  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.2.1/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="app.js"></script>
  </head>

  <body ng-controller="MyController">
    
    <div class="container">
      <div class="row">
        <div class="col-md-offset-4 col-md-4">
          
          <h1 class="text-center"><span class="glyphicon glyphicon-send" aria-hidden="true"></span> LiveChat</h1>
        
          <hr>
          
          <form class="form-inline">
            <div class="form-group">
              <label for="exampleInputName">Username:</label>
              <input type="text" class="form-control" id="exampleInputName" placeholder="Jane Doe" ng-model="from">
            </div>
          </form>
          
          <hr>
          
          <p ng-repeat="msg in messages"><strong><em>{{msg.from}}: </em></strong>{{msg.body}}</p>
          
          <hr>
          
          <form class="form-inline" ng-submit="addMessage()">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Type a message..." ng-model="body">
              <button type="submit" class="btn btn-primary">Send</button>
            </div>
          </form>
          
        </div>
      </div>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </body>

</html>